@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
}

@layer components {
  .form-button {
    @apply bg-primary-normal rounded py-3 text-white text-xl shadow-inner !mt-10 hover:opacity-95;
  }
}

@layer utilities {
}
